<main>
	<section class="container">


		<ul class="b-crumbs">
			<li>
				<a href="index.html">
					Trang Chủ
				</a>
			</li>
			<li>
				<a href="catalog-list.html">
					Sản phẩm
				</a>
			</li>
			<li>
				<a href="catalog-list.html">
					Sách Tiếng Anh
				</a>
			</li>
		</ul>
		<h1 class="main-ttl"><span>Dicta doloremque</span></h1>
		<!-- Single Product - start -->
		<div class="prod-wrap">

			<!-- Product Images -->
			<div class="prod-slider-wrap">
				<div class="prod-slider">
					<ul class="prod-slider-car">
						<li>
							<a data-fancybox-group="product" class="fancy-img" src="assets/book.jpg">
								<img src="assets/book.jpg" alt="loadingg">
							</a>

					</ul>
				</div>
			</div>

			<!-- Product Description/Info -->
			<div class="prod-cont">
				<div class="prod-cont-txt">
          50 Tips Giúp Bạn Vượt Qua Thất Tình <br>

          50 tips for girls gồm các cuốn: 50 tips du lịch dành cho các bạn gái, 50 tips giúp bạn gái vượt qua thất tình, 50 tips hẹn hò thành công, 50 tips cho những người yêu lần đầu được biên soạn như một món quà dành tặng cho các bạn gái, với một mong muốn là giúp các bạn gái thực sự biết trân trọng mình, biết cách khiến mình hạnh phúc và tận hưởng những điều cuộc sống đã ban tặng cho mình.
<br>
          “Phụ nữ nên hiểu rằng, mọi chuyện đều phải dựa vào bản thân, đừng bao giờ hoang đường cho rằng có thể dựa dẫm bất kỳ ai. Tiền, tự mình làm ra. Yêu, tự bản thân yêu lấy chính mình. Hạnh phúc, tự mình cảm nhận. Nếu như có ai đó tặng tiền, tặng tình yêu, tặng hạnh phúc cho bạn, vậy thì cũng tốt. Nhưng bạn vẫn phải tự mình tạo lập cuộc sống cho bản thân. Cuộc đời của bạn, chính là thuộc về bạn. Về mặt tinh thần, tốt nhất đừng để ngườikhác chi phối. Và tuyệt đối đừng bao giờ trao quyền làm chủ cuộc đời bạn vào tay bất kỳ ai.”
				</div>
				<p class="prod-actions">
					<a href="#" class="prod-favorites"><i class="fa fa-heart"></i> Danh sách yêu thích</a>
					<a href="#" class="prod-compare"><i class="fa fa-bar-chart"></i> So sánh</a>
				</p>
				<div class="prod-info">
					<p class="prod-price">
						<b class="item_current_price">$135</b>
					</p>
					<p class="prod-qnt">
						<input value="1" type="text">
						<a href="#" class="prod-plus"><i class="fa fa-angle-up"></i></a>
						<a href="#" class="prod-minus"><i class="fa fa-angle-down"></i></a>
					</p>
					<p class="prod-addwrap">
						<a href="#" class="prod-add" rel="nofollow">Thêm vào giỏ hàng </a>
          </p>
          <br>
          <p class="prod-addwrap">
						<a href="#" class="prod-add" rel="nofollow">Mua ngay </a>
					</p>
				</div>
				<ul class="prod-i-props">
					<li>
						<b>Mã hàng	</b> 8935251404463
					</li>
					<li>
						<b>Tên Nhà Cung Cấp	</b> 	Alpha Books
					</li>
					<li>
						<b>Tác giả	</b> An Nhiên
					</li>
					<li>
						<b>NXB</b> NXB Lao Động
					</li>
					<li>
						<b>Năm XB	</b> 2017
					</li>
					<li>
						<b>Trọng lượng (gr)</b> 150
					</li>
					<li>
						<b>Số trang	</b> 140
					</li>
					<li>
						<b>Hình thức	</b> Bìa Mềm
					</li>
				</ul>
			</div>

			<!-- Product Tabs -->
			<div class="prod-tabs-wrap">
				<ul class="prod-tabs">
					<li><a data-prodtab-num="1" class="active" href="#" data-prodtab="#prod-tab-1">Reviews (3)</a></li>
				</ul>
				<div class="prod-tab-cont">

					<p data-prodtab-num="1" class="prod-tab-mob active" data-prodtab="#prod-tab-1">Reviews (3)</p>
					<div class="prod-tab stylization" id="prod-tab-1">
            <div class="prod-tab" id="prod-tab-5">
              <ul class="reviews-list">
                <li class="reviews-i existimg">
                  <div class="reviews-i-img">
                    <img src="assets/front-end.jpg" alt="Averill Sidony">
                    <div class="reviews-i-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">21 May 2017</time>
                  </div>
                  <div class="reviews-i-cont">
                    <p>Numquam aliquam maiores ratione dolores ducimus, laborum hic similique delectus. Neque saepe nobis omnis laudantium itaque tempore voluptate harum error, illum nemo, reiciendis architecto, quam tenetur amet sit quisquam cum.<br>Pariatur cum tempore eius nulla impedit cumque odit quos porro iste a voluptas, optio alias voluptate minima distinctio facere aliquid quasi, vero illum tenetur sed temporibus eveniet obcaecati.</p>
                    <span class="reviews-i-margin"></span>
                    <h3 class="reviews-i-ttl">Averill Sidony</h3>
                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                  </div>
                  <div class="reviews-i-answer">
                    <p>Thanks for your feedback!<br>
                      Nostrum voluptate autem, eaque mollitia sed rem cum amet qui repudiandae libero quaerat veniam accusantium architecto minima impedit. Magni illo illum iure tempora vero explicabo, esse dolores rem at dolorum doloremque iusto laboriosam repellendus. <br>Numquam eius voluptatum sint modi nihil exercitationem dolorum asperiores maiores provident repellat magnam vitae, consequatur omnis expedita, accusantium voluptas odit id.</p>
                    <span class="reviews-i-margin"></span>
                  </div>
                </li>
                <li class="reviews-i existimg">
                  <div class="reviews-i-img">
                    <img src="assets/back-end.jpg" alt="Araminta Kristeen">
                    <div class="reviews-i-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">14 February 2017</time>
                  </div>
                  <div class="reviews-i-cont">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    <span class="reviews-i-margin"></span>
                    <h3 class="reviews-i-ttl">Araminta Kristeen</h3>
                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                  </div>
                  <div class="reviews-i-answer">
                    Benjy, hi!<br>
                    Officiis culpa quos, quae optio quia.<br>
                    Amet sunt dolorem tempora, pariatur earum quidem adipisci error voluptates tempore iure, nobis optio temporibus voluptatum delectus natus accusamus incidunt provident sapiente explicabo vero labore hic quo?
                    <span class="reviews-i-margin"></span>
                  </div>
                </li>
                <li class="reviews-i">
                  <div class="reviews-i-cont">
                    <time datetime="2017-12-21 12:19:46" class="reviews-i-date">21 May 2017</time>
                    <div class="reviews-i-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    <span class="reviews-i-margin"></span>
                    <h3 class="reviews-i-ttl">Jeni Margie</h3>
                    <p class="reviews-i-showanswer"><span data-open="Show answer" data-close="Hide answer">Show answer</span> <i class="fa fa-angle-down"></i></p>
                  </div>
                  <div class="reviews-i-answer">
                    Hello, Jeni Margie!<br>
                    Nostrum voluptate autem, eaque mollitia sed rem cum amet qui repudiandae libero quaerat veniam accusantium architecto minima impedit. Magni illo illum iure tempora vero explicabo, esse dolores rem at dolorum doloremque iusto laboriosam repellendus. <br>Numquam eius voluptatum sint modi nihil exercitationem dolorum asperiores maiores provident repellat magnam vitae, consequatur omnis expedita, accusantium voluptas odit id.
                    <span class="reviews-i-margin"></span>
                  </div>
                </li>
              </ul>
              <div class="prod-comment-form">
                <h3>Add your review</h3>
                <form method="POST" action="#">
                  <input type="text" placeholder="Name">
                  <input type="text" placeholder="E-mail">
                  <textarea placeholder="Your review"></textarea>
                  <div class="prod-comment-submit">
                    <input type="submit" value="Submit">
                    <div class="prod-rating">
                      <i class="fa fa-star-o" title="5"></i><i class="fa fa-star-o" title="4"></i><i class="fa fa-star-o" title="3"></i><i class="fa fa-star-o" title="2"></i><i class="fa fa-star-o" title="1"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
					</div>
					<p data-prodtab-num="5" class="prod-tab-mob" data-prodtab="#prod-tab-5">Reviews (3)</p>

				</div>
			</div>

		</div>
		<!-- Single Product - end -->

		<!-- Related Products - start -->
    <div class="discounts-wrap col-lg-2">
      <h3 class="component-ttl"><span>Ưu đãi đặc biệt</span></h3>
      <div class="flexslider discounts-list">
          <ul class="slides">
              <li class="discounts-i">
                  <a routerLink="/detail-product" class="discounts-i-img">
                      <img src="assets/book.jpg" alt="Dicta doloremque">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a routerLink="/detail-product">Dicta doloremque</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$115</b> <del>$135</del>
                  </p>
                  <div class="prod-sticker">
                      <p class="prod-sticker-1">NEW</p>
                  </div>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook.src" alt="Similique delectus">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook1.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$105</b> <del>$120</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook1.src" alt="Adipisci nemo">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook2.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$70</b> <del>$90</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook3.src" alt="Ullam harum">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook3.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$55</b> <del>$75</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook4.src" alt="Similique delectus">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook4.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$135</b> <del>$155</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook.src" alt="Туфли Dr.Koffer">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook5.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$190</b> <del>$210</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook3.src" alt="Quod consequatur">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">{{inforbook1.name}}</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$120</b> <del>$140</del>
                  </p>
              </li>
              <li class="discounts-i">
                  <a href="product.html" class="discounts-i-img">
                      <img [src]="inforbook3.src" alt="Dolore fugit">
                  </a>
                  <h3 class="discounts-i-ttl">
                      <a href="product.html">Dolore fugit</a>
                  </h3>
                  <p class="discounts-i-price">
                      <b>$80</b> <del>$95</del>
                  </p>
              </li>
          </ul>
      </div>
      <div class="discounts-info">
          <p>Special offer!<br>Limited time only</p>
          <a href="catalog-list.html">Shop now</a>
      </div>
  </div>
		<!-- Related Products - end -->

	</section>
</main>
