<div class="all-bg">
<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login Admin</mat-toolbar>
    <form  class="login-form mat-typography" fxLayoutAlign="stretch" fxLayout="column" >
      <mat-form-field>
        <input matInput placeholder="Username">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Password">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>

  </mat-card>
</div>
</div>
