<main>
  <section class="container stylization maincont">


      <ul class="b-crumbs">
          <li>
              <a href="index.html">
                  Trang Chủ
              </a>
          </li>
          <li>
              <span>Thông tin về  chúng tôi</span>
          </li>
      </ul>
      <h1 class="main-ttl main-ttl-categs"><span>Đội ngũ chúng tôi </span></h1>
      <!-- Elements - start -->
      <!-- Team -->
      <div class="team-wrap">
          <h3 class="component-ttl component-ttl-ct component-ttl-hasdesc"><span>Our team</span></h3>
          <p class="component-desc component-desc-ct">Explicabo tenetur qui accusamus impedit, nobis, perspiciatis aut</p>
          <div class="row team-list">
              <div class="col-sm-4 team-i">
                  <p class="team-i-img">
                      <img src="assets/back-end" alt="loading....">
                  </p>
                  <h3 class="team-i-ttl">Trần Công Duệ</h3>
                  <p class="team-i-post">Director</p>
                  /////
                  <span class="team-i-margin"></span>
                  <ul class="team-i-social">
                      <li><a href="http://facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="http://vk.com/"><i class="fa fa-vk"></i></a></li>
                      <li><a href="http://skype.com/"><i class="fa fa-skype"></i></a></li>
                      <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-4 team-i">
                  <p class="team-i-img">
                      <img src="assets/front-end.jpg" alt="Wilson Paden">
                  </p>
                  <h3 class="team-i-ttl">Tran Due</h3>
                  <p class="team-i-post">Developer</p>
                            ///////
                  <span class="team-i-margin"></span>
                  <ul class="team-i-social">
                      <li><a href="http://facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="http://vk.com/"><i class="fa fa-vk"></i></a></li>
                      <li><a href="http://skype.com/"><i class="fa fa-skype"></i></a></li>
                      <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
                  </ul>
              </div>
              <div class="col-sm-4 team-i">
                  <p class="team-i-img">
                      <img src="assets/manager.jpg" alt="Murray Heath">
                  </p>
                  <h3 class="team-i-ttl">Due Tran Cong</h3>
                  <p class="team-i-post">Manager</p>
                              ////////////////////
                  <span class="team-i-margin"></span>
                  <ul class="team-i-social">
                      <li><a href="http://facebook.com/"><i class="fa fa-facebook-square"></i></a></li>
                      <li><a href="http://vk.com/"><i class="fa fa-vk"></i></a></li>
                      <li><a href="http://skype.com/"><i class="fa fa-skype"></i></a></li>
                      <li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
                      <li><a href="http://linkedin.com/"><i class="fa fa-linkedin-square"></i></a></li>
                  </ul>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br><br>
      <br>
      <!-- Counters V1 -->
      <div class="facts-wrap">
          <h3 class="component-ttl component-ttl-ct"><span>Counters</span></h3>
          <div class="row facts-list">
              <div class="cf-xs-6 cf-sm-4 cf-md-4 cf-lg-3 col-xs-6 col-sm-4 col-lg-3 facts-i">
                  <p data-num="167" class="facts-i-num">167</p>
                  <h3 class="facts-i-ttl">Happy clients</h3>
              </div>
              <div class="cf-xs-6 cf-sm-4 cf-md-4 cf-lg-3 col-xs-6 col-sm-4 col-lg-3 facts-i">
                  <p data-num="34" class="facts-i-num">34</p>
                  <h3 class="facts-i-ttl">Portfolio projects</h3>
              </div>
              <div class="cf-xs-6 cf-sm-4 cf-md-4 cf-lg-3 col-xs-6 col-sm-4 col-lg-3 facts-i">
                  <p data-num="127" class="facts-i-num">127</p>
                  <h3 class="facts-i-ttl">Cup of coffee</h3>
              </div>
              <div class="cf-xs-6 cf-sm-4 cf-md-4 cf-lg-3 col-xs-6 col-sm-4 col-lg-3 facts-i">
                  <p data-num="258" class="facts-i-num">258</p>
                  <h3 class="facts-i-ttl">Lines of code</h3>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <div class="posts-wrap">
          <h3 class="component-ttl component-ttl-ct component-ttl-hasdesc"><span>Latest news</span></h3>
          <p class="component-desc component-desc-ct">Nisi autem error aspernatur tempora veritatis temporibus</p>
          <div class="posts-list">
              <div class="posts-i">
                  <a class="posts-i-img" href="post.html">
                      <span style="background: url(http://placehold.it/354x236)"></span>
                  </a>
                  <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>30</span> Jan</time>
                  <div class="posts-i-info">
                      <a href="blog.html" class="posts-i-ctg">Reviews</a>
                      <h3 class="posts-i-ttl">
                          <a href="post.html">Animi quaerat at</a>
                      </h3>
                  </div>
              </div>
              <div class="posts-i">
                  <a class="posts-i-img" href="post.html">
                      <span style="background: url(http://placehold.it/354x236)"></span>
                  </a>
                  <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>29</span> Jan</time>
                  <div class="posts-i-info">
                      <a href="blog.html" class="posts-i-ctg">Articles</a>
                      <h3 class="posts-i-ttl">
                          <a href="post.html">Ex atque commodi</a>
                      </h3>
                  </div>
              </div>
              <div class="posts-i">
                  <a class="posts-i-img" href="post.html">
                      <span style="background: url(http://placehold.it/354x236)"></span>
                  </a>
                  <time class="posts-i-date" datetime="2016-11-09 00:00:00"><span>25</span> Jan</time>
                  <div class="posts-i-info">
                      <a href="blog.html" class="posts-i-ctg">News</a>
                      <h3 class="posts-i-ttl">
                          <a href="post.html">Hic quod maxime deserunt</a>
                      </h3>
                  </div>
              </div>
          </div>
      </div>
      <br>
      <br>
      <br>
      <!-- Social links -->
      <div class="social-wrap">
          <h3 class="component-ttl component-ttl-ct"><span>Social links</span></h3>
          <div class="social-list">
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://facebook.com/">
                      <p class="social-i-img">
                          <i class="fa fa-facebook"></i>
                      </p>
                      <p class="social-i-ttl">Facebook</p>
                  </a>
              </div>
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://google.com/">
                      <p class="social-i-img">
                          <i class="fa fa-google-plus"></i>
                      </p>
                      <p class="social-i-ttl">Google +</p>
                  </a>
              </div>
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://twitter.com/">
                      <p class="social-i-img">
                          <i class="fa fa-twitter"></i>
                      </p>
                      <p class="social-i-ttl">Twitter</p>
                  </a>
              </div>
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://vk.com/">
                      <p class="social-i-img">
                          <i class="fa fa-vk"></i>
                      </p>
                      <p class="social-i-ttl">Vkontakte</p>
                  </a>
              </div>
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://instagram.com/">
                      <p class="social-i-img">
                          <i class="fa fa-instagram"></i>
                      </p>
                      <p class="social-i-ttl">Instagram</p>
                  </a>
              </div>
              <div class="social-i">
                  <a rel="nofollow" target="_blank" href="http://youtube.com/">
                      <p class="social-i-img">
                          <i class="fa fa-youtube"></i>
                      </p>
                      <p class="social-i-ttl">Youtube</p>
                  </a>
              </div>
          </div>
      </div>
      <!-- Elements - end -->
  </section>
</main>
