<main>
  <section class="container">


      <ul class="b-crumbs">
          <li>
              <a href="index.html">
                  Home
              </a>
          </li>
          <li>
              <span>Wishlist</span>
          </li>
      </ul>
      <h1 class="main-ttl"><span>Wishlist</span></h1>
      <!-- Catalog Items | Full - start -->
      <div class="section-cont section-full">
          <div class="prod-items section-items">
              <div class="prod-i">
                  <div class="prod-i-top">
                      <a href="product.html" class="prod-i-img">
                        <img class="images" [src]="inforbook.src" alt="{{inforbook.name}}">
                      </a>
                      <p class="prod-i-info">
                          <a href="#" class="prod-i-favorites"><span>Xóa yêu thích</span><i class="fa fa-remove"></i></a>
                          <a href="#" class="qview-btn prod-i-qview"><span>Xem Nhanh</span><i class="fa fa-search"></i></a>
                          <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                      </p>
                      <a href="#" class="prod-i-buy">Thêm Giỏ hàng</a>
                      <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                      <div class="prod-i-properties">
                          <dl>
                              <dt>Tác giả: </dt>
                              <dd>{{inforbook.tacgia}}<br></dd>
                              <dt>Nhà cung cấp: </dt>
                              <dd>{{inforbook.ncc}}<br></dd>
                              <dt>Nhà xuất bản: </dt>
                              <dd>{{inforbook.nxb}}<br></dd>
                          </dl>
                      </div>
                  </div>
                  <h3>
                      <a href="product.html">{{inforbook.name}}</a>
                  </h3>
                  <p class="prod-i-price">
                      <b>{{inforbook.price}}</b>
                  </p>
              </div>
              <div class="prod-i">
                  <div class="prod-i-top">
                    <a href="product.html" class="prod-i-img">
                      <img class="images" [src]="inforbook1.src" alt="{{inforbook1.name}}">
                    </a>
                    <p class="prod-i-info">
                        <a href="#" class="prod-i-favorites"><span>Xóa yêu thích</span><i class="fa fa-remove"></i></a>
                        <a href="#" class="qview-btn prod-i-qview"><span>Xem Nhanh</span><i class="fa fa-search"></i></a>
                        <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                    </p>
                    <a href="#" class="prod-i-buy">Thêm Giỏ hàng</a>
                    <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                      <div class="prod-i-properties">
                        <dl>
                            <dt>Tác giả: </dt>
                            <dd>{{inforbook1.tacgia}}<br></dd>
                            <dt>Nhà cung cấp: </dt>
                            <dd>{{inforbook1.ncc}}<br></dd>
                            <dt>Nhà xuất bản: </dt>
                            <dd>{{inforbook1.nxb}}<br></dd>
                        </dl>
                      </div>
                      <div class="prod-sticker">
                          <p class="prod-sticker-3">-30%</p><p class="prod-sticker-4 countdown" data-date="29 Jan 2017, 14:30:00"></p>
                      </div>
                  </div>
                  <h3>
                    <a href="product.html">{{inforbook1.name}}</a>
                  </h3>
                  <p class="prod-i-price">
                      <b>{{inforbook1.price}}</b>
                  </p>
                </div>
              <div class="prod-i">
                  <div class="prod-i-top">
                    <a href="product.html" class="prod-i-img">
                      <img class="images" [src]="inforbook2.src" alt="{{inforbook2.name}}">
                    </a>
                    <p class="prod-i-info">
                        <a href="#" class="prod-i-favorites"><span>Xóa yêu thích</span><i class="fa fa-remove"></i></a>
                        <a href="#" class="qview-btn prod-i-qview"><span>Xem Nhanh</span><i class="fa fa-search"></i></a>
                        <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                    </p>
                    <a href="#" class="prod-i-buy">Thêm Giỏ hàng</a>
                    <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                      <div class="prod-i-properties">
                        <dl>
                            <dt>Tác giả: </dt>
                            <dd>{{inforbook2.tacgia}}<br></dd>
                            <dt>Nhà cung cấp: </dt>
                            <dd>{{inforbook2.ncc}}<br></dd>
                            <dt>Nhà xuất bản: </dt>
                            <dd>{{inforbook2.nxb}}<br></dd>
                        </dl>
                      </div>

                      <div class="prod-sticker">
                          <p class="prod-sticker-1">NEW</p>
                          <br><p class="prod-sticker-2">HIT</p>
                      </div>
                  </div>
                  <h3>
                    <a href="product.html">{{inforbook2.name}}</a>
                  </h3>
                  <p class="prod-i-price">
                      <b>{{inforbook2.price}}</b>
                  </p>
              </div>
              <div class="prod-i">
                  <div class="prod-i-top">
                    <a href="product.html" class="prod-i-img">
                      <img class="images" [src]="inforbook3.src" alt="{{inforbook3.name}}">
                    </a>
                    <p class="prod-i-info">
                        <a href="#" class="prod-i-favorites"><span>Xóa yêu thích</span><i class="fa fa-remove"></i></a>
                        <a href="#" class="qview-btn prod-i-qview"><span>Xem Nhanh</span><i class="fa fa-search"></i></a>
                        <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                    </p>
                    <a href="#" class="prod-i-buy">Thêm Giỏ hàng</a>
                    <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                      <div class="prod-i-properties">
                        <dl>
                            <dt>Tác giả: </dt>
                            <dd>{{inforbook3.tacgia}}<br></dd>
                            <dt>Nhà cung cấp: </dt>
                            <dd>{{inforbook3.ncc}}<br></dd>
                            <dt>Nhà xuất bản: </dt>
                            <dd>{{inforbook3.nxb}}<br></dd>
                        </dl>
                      </div>

                      <div class="prod-sticker">
                          <p class="prod-sticker-3">-70%</p>
                      </div>
                  </div>
                  <h3>
                    <a href="product.html">{{inforbook3.name}}</a>
                  </h3>
                  <p class="prod-i-price">
                      <b>{{inforbook3.price}}</b>
                  </p>
              </div>
              <div class="prod-i">
                <div class="prod-i-top">
                    <a href="product.html" class="prod-i-img">
                      <img class="images" [src]="inforbook4.src" alt="{{inforbook4.name}}">
                    </a>
                    <p class="prod-i-info">
                        <a href="#" class="prod-i-favorites"><span>Xóa yêu thích</span><i class="fa fa-remove"></i></a>
                        <a href="#" class="qview-btn prod-i-qview"><span>Xem Nhanh</span><i class="fa fa-search"></i></a>
                        <a class="prod-i-compare" href="#"><span>So sánh</span><i class="fa fa-bar-chart"></i></a>
                    </p>
                    <a href="#" class="prod-i-buy">Thêm Giỏ hàng</a>
                    <p class="prod-i-properties-label"><i class="fa fa-info"></i></p>

                    <div class="prod-i-properties">
                        <dl>
                            <dt>Tác giả: </dt>
                            <dd>{{inforbook4.tacgia}}<br></dd>
                            <dt>Nhà cung cấp: </dt>
                            <dd>{{inforbook4.ncc}}<br></dd>
                            <dt>Nhà xuất bản: </dt>
                            <dd>{{inforbook4.nxb}}<br></dd>
                        </dl>
                    </div>
                </div>
                <h3>
                    <a href="product.html">{{inforbook4.name}}</a>
                </h3>
                <p class="prod-i-price">
                    <b>{{inforbook4.price}}</b>
                </p>
            </div>
          </div>
      </div>
      <!-- Catalog Items | Full - end -->

      <!-- Quick View Product - start -->
      <div class="modal-detail modal fade" id="myModal" role="dialog">
        <div class="modal-dialog" >
          <!-- Modal content-->
              <div class="modal-content">
                  <div class="modal-header">
                  <h2 style="color: teal;">Chi tiết sản phẩm</h2>
                  </div>
                  <div class="modal-body">
                    <div class="col-sm-6" id="left-content">
                      <div ><img height=550px width=500px [src]="inforbook.src" alt="{{inforbook.name}}"></div>
                      <div></div>
                      <div></div>

                    </div>
                    <div class="col-sm-6" id="right-content">
                      <h4 routerLink="/product">{{inforbook.name}}</h4>
                      <div class="content-tg">Tác giả: <a href="#"  style="color: rgb(212, 209, 0);">{{inforbook.tacgia}}</a></div>
                      <div class="content-ncc">Nhà cung cấp:  <a href="#" style="color: rgb(212, 209, 0);">{{inforbook.ncc}}</a></div>
                      <div class="content-nxb">Nhà xuất bản: <a href="#" style="color: rgb(212, 209, 0);">{{inforbook.nxb}}</a></div>
                      <div class="content-gia">Giá: <span>{{inforbook.price}}</span></div>
                      <p class="prodlist-i-addwrap">
                        <a href="#" class="prodlist-i-add">Thêm giỏ hàng</a>
                      </p>
                      <p class="prodlist-i-info">
                       <a href="#" class="prodlist-i-favorites"><i class="fa fa-heart"></i> Danh sách yêu thích</a>
                      </p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
              </div>
       </div>
      </div>
      <!-- Quick View Product - end -->
  </section>
</main>
